
.vs/Learning/v16/.suo
.vs/Learning/v16/.suo
.vs/Learning/v16/Browse.VC.db
*.db-shm
*.db-wal
*.opendb
*.ipch
.vs/Learning/v16/.suo
*.exe
*.ilk
*.pdb
.vs/Learning/v16/.suo
*.tlog
*.obj
*.log
*.idb
*.recipe
*.filters
*.user
.vs/Learning/v16/.suo
